<!-- views/partials/head.ejs -->
<meta charset="UTF-8">


<!--&lt;!&ndash; Icon &ndash;&gt;-->
<!--<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />-->
<!--<link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png" />-->

<title>
  <%= title %>
</title>

<link rel="icon" href="/static/images/favicon.ico" />
<link rel="icon" type="image/png" href="/static/images/apple-touch-icon.png" />
<link rel="apple-touch-icon" href="/static/images/touch-icons/apple-touch-icon.png" />

<link rel="stylesheet" href="/scripts/css/bootstrap.css">
<link rel="stylesheet" href="/scripts/css/bootstrap-theme.css">


<!-- Private css ... -->
<link rel='stylesheet' href='/stylesheets/style.css'/>

<meta name="viewport" content="width=device-width, initial-scale=1">

