<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-home"></span>
            </a>
            <a class="navbar-brand hidden-xs" href="/">
                Home
            </a>
            &nbsp;
            <a class="navbar-brand" href="/show">
          <span class="glyphicon glyphicon-tasks">
          </span>
            </a>

            <a class="navbar-brand hidden-xs" href="/show">
                Show Status
            </a>

        </div>

        <!--
            <ul class="nav navbar-nav">
              <li><a href="/show">Show Status</a></li>
            </ul>
        -->

    </div>
</nav>