<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">
<header>
  <% include ../views/partials/header %>
</header>
<main>
  <p><a href="/show">Display Current UPS Temperatures</a></p>
  <p><a href="/load">Load Temperatures from Devices</a></p>
</main>
</body>
</html>
