<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<hr>
<p><a href="/show">Display Current UPS Temperatures</a></p>
<p><a href="/load">Load Temperatures from Devices</a></p>
</body>
</html>
