<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">
<header>
    <% include ../views/partials/header %>
</header>
<main>
    WWD UPS Temperature Status Site.
    <br>
    <br>
</main>
</body>
<% include ../views/partials/footer %>
</html>
